.data {
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
  transition: box-shadow 0.35s ease, transform 0.35s ease;

  &:hover {
    box-shadow: rgba(91, 91, 91, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.07) 0 0 0 1px;
    transform: scale(1.015);
  }
}

.sites, .stays, .rate, .destiny {
  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 18px;
  }

  ol {
    padding-left: 20px;

    li {
      font-weight: normal;
      color: gray;

      .div-list {
        color: black;
        display: flex;
        justify-content: space-between;

        i {
          margin-left: 5px;
          color: gray;
        }
      }
    }
  }
}
