@import "colors";
@import "../bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400&display=swap');
@import "utilities";
@import "map-styles";
@import "star-rating";
@import "transitions";
@import "data-cards";

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  padding: 1px;
  color: white;
  text-align: center;
  background-color: $orange-primary;
}

.hotel-bg {
  background-image: url(../img/hotel-1.jpg);
  background-size: cover;
}

.register-bg {
  background-image: url(../img/login.jpg);
  background-size: cover;
}

.card-height {
  height: 500px;
}

main {
  margin: 50px;
  display: grid;
  grid-template-areas:
        "title title title title title"
        ". . . . ."
        "map . site . stays"
        "map . . . ."
        "map . destiny . rate"
        "map . . . .";
  grid-template-columns: minmax(auto, 600px) 0 minmax(300px, auto) 10px minmax(300px, auto);
  /* Rows: (10) [Title, space, map, space, site, space, stays, space, destinations, space] */
  grid-template-rows: auto 0 250px 10px 250px;
  gap: .5em;
}

.btns {
  position: absolute;
  top: 85%;
  left: 55%;
  width: auto;
}

.historyBtn, .markBtn {
  margin-left: 10px;
  width: 90px;
  border-radius: 15px;
}

.title {
  grid-area: title;
  border-bottom: 3px solid $purple-primary;
  max-width: 100%;
}

.form-height {
  max-height: 800px;
}

.map {
  grid-area: map;
  display: grid;
  place-items: center;
  position: relative;
}

.stays {
  grid-area: stays;
}

.sites {
  grid-area: site;
}

.destiny {
  grid-area: destiny;
}

.rate {
  grid-area: rate;
}

.markBtn {
  background-color: $purple-primary;
  color: white;
}

.historyBtn {
  background-color: white;
  color: $orange-primary;
  border-color: $orange-primary;
}

ul {
  display: none;
}

@import "media-queries";
